<div class="header-pages d-flex justify-content-center align-items-center">
  <p class="title-h1">FREQUENTLY ASKED QUESTIONS</p>
</div>
<div class="container my-5">
  <div class="row text-center">
    <p class="">Here are some of the most popular questions that we receive from our customers</p>
  </div>
  <div class="m-4">
    <div class="accordion" id="myAccordion">

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">How can
            I become an Xclusives member?</button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
          <div class="card-body">
            <p>You can request an Xclusives membership through either our customer service hotline (16025), our mobile
              app, any of our social media platforms, or our website’s membership form that you can find by clicking
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
            data-bs-target="#collapseOne">How can I become an Xclusives member?</button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#myAccordion">
          <div class="card-body">
            <p>You can request an Xclusives membership through either our customer service hotline (16025), our mobile
              app, any of our social media platforms, or our website’s membership form that you can find by clicking
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
            data-bs-target="#collapseThree">How can I become an Xclusives member?</button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
          <div class="card-body">
            <p>You can request an Xclusives membership through either our customer service hotline (16025), our mobile
              app, any of our social media platforms, or our website’s membership form that you can find by clicking
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
