<div class="header-pages d-flex justify-content-center align-items-center">
  <p class="title-h1">{{'works.GET THE CAED'|translate}}</p>
</div>
<section class="pt-5 home-exclusive-card">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <i class="fas fa-percentage home-icon"></i>
    <p class="card-title font-weight-bold mt-3 home-text m-3">{{"home.THE XCLUSIVES CARD" | translate}}</p>
    <p class="mt-2"> {{'home.Your' | translate}}<strong> {{'home.Xclusives Card®' | translate}}</strong>
      {{'home.entitles you to up to' | translate}}<strong> {{'home.35% discounts and refunds' |
        translate}}</strong>{{'home.at any of our merchants from our network' | translate}}.
    </p>
    <P> {{'home.You also get a complementary' | translate}}<strong> {{'home.Super Value Voucher' | translate}}</strong>
      {{'home.Booklet with your card along with access to the' | translate}}
      <strong>{{'home.Deals' | translate}}</strong>
      {{'home.section in the' | translate}}<strong>{{'home.Xclusives App' | translate}}</strong>!
    </P>
  </div>
  <div class="d-flex  justify-content-center">
    <img src="../../assets/img/Card-2.png" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50"
      data-aos-duration="1200" data-aos-easing="ease-in-out" class="card-img-home" alt="">
  </div>
  <app-sectionthree></app-sectionthree>
</section>
<section class="download  d-flex flex-column justify-content-center align-items-center">
  <i class="fas fa-pen"></i>
  <p class="first-card text-center font-28 pt-2">{{'cards.p' | translate}}!</p>
  <div class="diver"></div>
  <p class="second pt-1">{{'cards.p2' | translate}}
  </p>
</section>
