<div class="header-pages d-flex justify-content-center align-items-center">
  <h1 class="title-h1">ABOUT US</h1>
</div>
<div class="container-fluid p-4">
  <div class="row d-flex align-items-center">
    <div class="col-6">
      <img src="../../assets/img/Xclusives-Office-Front-Door.jpg" data-aos="fade-right" data-aos-delay="1100"
        class="w-100" alt="" srcset="">
    </div>
    <div class="col-6" data-aos="fade-left" data-aos-delay="1100">
      <p class="title-about">WE ARE EGYPT’S #1 </p>
      <p class="title-about mt-1">PRIVILEGE PROVIDER</p>
      <p class="p-mb">
        Xclusives is the first and largest privilege provider in Egypt! We were established back in 2003, and started
        out
        with only a few merchant stores in our network. Today, we boast a network of over 3,000 merchant stores, the
        largest network of dining, fashion, medical and entertainment merchants ever yet!
      </p>
      <p class="p-mb">
        As an Xclusives member, you are entitled to up to up to 35% discounts and refunds, super value vouchers, and
        countless instant deals in any of our merchants across our network!
      </p>
      <p class="p-mb">
        We are always working hard everyday to bring in new merchants and deals and our goal is to always get you the
        best
        value for your money spent. With Xclusives, you will be always saving more!
      </p>
    </div>
  </div>

</div>
