<div class="header-pages d-flex justify-content-center align-items-center">
  <p class="title-h1">{{'works.DOWNLOAD THE APP'|translate}}</p>
</div>
<div class="container d-flex flex-column justify-content-center align-items-center">
  <p class="text-center mt-3">{{'downloads.p1' | translate}}!</p>
  <p class="text-center">{{'downloads.p2' | translate}}!</p>
  <!-- <img src="../../assets/img/New-Xclusives-App-2-EN-1.png" class="w-100" alt=""> -->
  <div class="d-flex justify-content-center"> <img src="../../assets/img/New-Xclusives-App-2-EN-1.png"
      data-aos="fade-up" data-aos-delay="1200" class="col-6 w-100" alt="" srcset=""></div>
</div>
<div class="container">
  <div class="row d-flex align-items-stretch">
    <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
      <div data-aos="zoom-in" data-aos-delay="2000"
        class="d-flex flex-column text-center justify-content-center align-items-center">
        <div>
          <div class="outer_poligon">
            <div class="inner_poligon">
              <div class="overlayer"> <i class="fas fa-shopping-bag"></i></div>
            </div>
          </div>
        </div>
        <div>
          <p class="hometitle"> {{'home.MERCHANT NETWORK' | translate}} </p>
          <p>
            {{'home.merchant p' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div data-aos="zoom-in" data-aos-delay="2200"
        class="d-flex flex-column text-center justify-content-center align-items-center">
        <div class="pt-5">
          <div class="pt-5 outer_poligon">
            <div class="inner_poligon">
              <div class="overlayer"> <i class="fas fa-server"></i></div>
            </div>
          </div>
        </div>
        <div class="">
          <p class="hometitle">
            {{"home.EXTENSIVE FILTERS" | translate}}
          </p>
          <p>
            {{"home.extensive p"|translate}}
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mt-4">
      <div data-aos="zoom-in" data-aos-delay="2400"
        class="d-flex flex-column text-center justify-content-center align-items-center">
        <div class="pt-4">
          <div class="outer_poligon">
            <div class="inner_poligon">
              <div class="overlayer"> <i class="fas fa-bell"></i></div>
            </div>
          </div>
        </div>
        <div class="">
          <p class="hometitle">
            {{'home.REMINDERS' | translate}}
          </p>
          <p>
            {{'home.remind p' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div data-aos="zoom-in" data-aos-delay="2600"
        class="d-flex flex-column text-center justify-content-center align-items-center">
        <div>
          <div class="outer_poligon">
            <div class="inner_poligon">
              <div class="overlayer"> <i class="fas fa-gift"></i></div>
            </div>
          </div>
        </div>
        <div>
          <p class="hometitle">
            {{'navbar.Monthly Deals' | translate}}</p>
          <p>
            {{'home.Monthly Deals p' | translate}}</p>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div data-aos="zoom-in" data-aos-delay="2800"
        class="d-flex flex-column text-center justify-content-center align-items-center">
        <div class="">
          <div class="outer_poligon">
            <div class="inner_poligon">
              <div class="overlayer"> <i class="fas fa-server"></i></div>
            </div>
          </div>
        </div>
        <div class="">
          <p class="hometitle">
            {{'navbar.Flash Deals' | translate}}</p>
          <p>
            {{"home.flash Deals p" | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div data-aos="zoom-in" data-aos-delay="3000"
        class="d-flex flex-column text-center justify-content-center align-items-center">
        <div>
          <div class="outer_poligon">
            <div class="inner_poligon">
              <div class="overlayer"> <i class="fas fa-wallet"></i></div>
            </div>
          </div>
        </div>
        <div>
          <p class="hometitle">
            {{"home.WALLET" | translate}}</p>
          <p>
            {{"home.WALLET p"|translate}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
