<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <i class="fas fa-mobile-alt home-icon"></i>
        <p class="home-text m-3">{{'home.THE XCLUSIVES APP' | translate}}</p>
        <div class="diverhead"></div>
        <p>{{'home.app p'|translate}}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class=" row d-felx justify-content-around align-items-start">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div data-aos="zoom-in" data-aos-delay="2000"
          class="d-flex flex-column text-center justify-content-center align-items-center">
          <div class="pt-5">
            <div class="pt-5 outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-server"></i></div>
              </div>
            </div>
          </div>
          <div class="">
            <p class="hometitle">
              {{"home.EXTENSIVE FILTERS" | translate}}
            </p>
            <p>
              {{"home.extensive p"|translate}}
            </p>
          </div>
        </div>
        <div data-aos="zoom-in" data-aos-delay="2400"
          class="d-flex flex-column text-center justify-content-center align-items-center">
          <div>
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-shopping-bag"></i></div>
              </div>
            </div>
          </div>
          <div>
            <p class="hometitle"> {{'home.MERCHANT NETWORK' | translate}} </p>
            <p>
              {{'home.merchant p' | translate}}
            </p>
          </div>
        </div>
        <div data-aos="zoom-in" data-aos-delay="2800"
          class="d-flex flex-column text-center justify-content-center align-items-center">
          <div class="pt-4">
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-bell"></i></div>
              </div>
            </div>
          </div>
          <div class="">
            <p class="hometitle">
              {{'home.REMINDERS' | translate}}
            </p>
            <p>
              {{'home.remind p' | translate}}
            </p>
          </div>
        </div>
      </div>
      <div data-aos="zoom-in" data-aos-delay="1800" class="col-lg-3 col-md-3 col-sm-12">
        <div class="img-center">
          <img src="../../assets/img/EN-5-1.png" class="img-fluid" alt="" srcset="">
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 mt-5">
        <div data-aos="zoom-in" data-aos-delay="2200"
          class="d-flex flex-column text-center justify-content-center align-items-center">
          <div class="">
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-server"></i></div>
              </div>
            </div>
          </div>
          <div class="">
            <p class="hometitle">
              {{'navbar.Flash Deals' | translate}}</p>
            <p>
              {{"home.flash Deals p" | translate}}
            </p>
          </div>
        </div>
        <div data-aos="zoom-in" data-aos-delay="2600"
          class="d-flex flex-column text-center justify-content-center align-items-center">
          <div>
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-wallet"></i></div>
              </div>
            </div>
          </div>
          <div>
            <p class="hometitle">
              {{"home.WALLET" | translate}}</p>
            <p>
              {{"home.WALLET p"|translate}}
            </p>
          </div>
        </div>
        <div data-aos="zoom-in" data-aos-delay="3000"
          class="d-flex flex-column text-center justify-content-center align-items-center">
          <div>
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-gift"></i></div>
              </div>
            </div>
          </div>
          <div>
            <p class="hometitle">
              {{'navbar.Monthly Deals' | translate}}</p>
            <p>
              {{'home.Monthly Deals p' | translate}}</p>

          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- <div class="container">
    <div class=" row d-felx justify-content-center align-items-center">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../assets/img/EN-5-1.png" class="img-fluid" alt="" srcset="">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-shopping-bag"></i></div>
              </div>
            </div>
          </div>
          <div>
            <p class="hometitle"> MERCHANT NETWORK</p>
            <p>
              All your favorite merchants, their respective branch locations and their current running deals are all at
              your
              fingertips!</p>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-server"></i></div>
              </div>
            </div>
          </div>
          <div class="">
            <p class="hometitle">
              EXTENSIVE FILTERS</p>
            <p>

              Find merchants that meet your exact needs! Filter our merchant network by geographic location, distance,
              category, features, and much more!</p>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-bell"></i></div>
              </div>
            </div>
          </div>
          <div class="">
            <p class="hometitle">

              REMINDERS</p>
            <p>
              Never forget to use your Xclusives privileges ever again! You will get reminded of your expiring
              privileges
              automatically or you can always set your own reminders!</p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="container">
    <div class=" row d-felx justify-content-center align-items-center">

      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-gift"></i></div>
              </div>
            </div>
          </div>
          <div>
            <p class="hometitle">
              MONTHLY DEALS</p>
            <p>
              In addition to your main Xclusives Card® privileges, Monthly Deals offer additional privilege to you on a
              monthly basis! Don't forget to check back every month for fresh new deals!
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-server"></i></div>
              </div>
            </div>
          </div>
          <div class="">
            <p class="hometitle">
              FLASH DEALS</p>
            <p>
              Enjoy unique limited-time deals that are updated regularly! Flash deals don't require an Xclusives
              membership to be redeemed and can be used by anyone who downloads the app for free!</p>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div class="outer_poligon">
              <div class="inner_poligon">
                <div class="overlayer"> <i class="fas fa-wallet"></i></div>
              </div>
            </div>
          </div>
          <div>
            <p class="hometitle">
              WALLET</p>
            <p>

              WALLET
              Track all your Xclusives savings, refund vouchers, and redemptions all in one place!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="../../assets/img/EN-6-2.png" class="img-fluid" alt="" srcset="">
      </div>
    </div>


  </div> -->
</section>
