<section class="">
  <div class="container">
    <div class="row d-felx align-items-stretch">
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center"
        data-aos="fade-up" data-aos-delay="1300">
        <div class="outer_poligon">
          <div class="inner_poligon">
            <div class="overlayer"> <i class="fas fa-percent"></i></div>
          </div>

        </div>

        <p class="h5 font-weight-bold main-color text-center">{{'home.DISCOUNTS & REFUNDS'| translate}}</p>
        <p class="text-center">{{'home.DISCOUNTS p' | translate}}.
        </p>
      </div>
      <!-- <div class="p-5 col-lg-4 col-md-4 col-sm-12 d-flex flex-column justify-content-center align-items-center">

        <div class="outer_poligon">
          <div class="inner_poligon">
            <div class="overlayer"> <i class="fas fa-money-bill-wave"></i></div>
          </div>
        </div>
        <p class="h5 font-weight-bold main-color text-center">SUPER VALUE VOUCHERS</p>
        <p class="text-center">
          Your Xclusives membership comes with a complimentary Super Value Vouchers Booklet that
          offers you additional privilege on top of your Xclusives Card's main privilege.
        </p>
      </div> -->
      <div class=" col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center"
        data-aos="fade-up" data-aos-delay="1400">

        <div class="outer_poligon">
          <div class="inner_poligon">
            <div class="overlayer"> <i class="fas fa-lock "></i></div>
          </div>
        </div>
        <p class="h5 font-weight-bold main-color text-center">{{'home.ACCESS TO MONTHLY DEALS'|translate}}</p>
        <p class="text-center ">
          {{'home.access p' | translate}}!
        </p>
      </div>
    </div>
  </div>
</section>
