<section class="first-section">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!-- <div class="carousel-item active">
        <img src="../../assets/img/1.jpg" class="d-block w-100" alt="...">
      </div>-->
      <div class="carousel-item " [ngClass]="{active:i==0}"
        *ngFor="let adv of getAllDataWeb.Advertisements;let i=index;">

        <a [href]="adv.ExternalLink" [ngStyle]="{'pointer-events': adv.ExternalLink? 'auto' : 'none' }">
          <img [src]="adv.URLImage" class="d-block w-100" alt="...">
        </a>

      </div>
    </div>
  </div>
</section>


<div id="tabs" class="py-4">
  <mat-tab-group animationDuration="2000ms" class="mt-3 tabs-dir" dir="rtl" #tabGroup
    (selectedTabChange)="onTabClick($event)" dynamicHeight>
    <mat-tab [label]="dir=='ltr'?ChainCategory.CategoryNameEN:ChainCategory.CategoryNameAR"
      *ngFor="let ChainCategory of getAllDataWeb.ChainCategory;let i=index;">
      <!--      <mat-tab [label]="tab.title" *ngFor="let tab of tabs">
-->
      <div class="tabs-container">
        <div class="p-2 d-flex justify-content-between align-items-center main-color-text"
          *ngIf="('currentTheme' | translate ) === 'rtl'">
          <h4 class="font-weight-bold pointer red-color mb-3 fa-25" routerLink="/alldeals">
            {{dir=='ltr'?ChainCategory.CategoryNameEN:ChainCategory.CategoryNameAR}}
          </h4>

          <i routerLink="/alldeals" class="fas fa-arrow-left pointer red-color fa-25"></i>
        </div>
        <div class="p-2 d-flex justify-content-between align-items-center main-color-text"
          *ngIf="('currentTheme' | translate ) === 'ltr'">

          <i routerLink="/alldeals" class="fas fa-arrow-right pointer red-color fa-25"></i>
          <h4 class="font-weight-bold pointer red-color mb-3 fa-25" routerLink="/alldeals">
            {{dir=='ltr'?ChainCategory.CategoryNameEN:ChainCategory.CategoryNameAR}}
          </h4>
        </div>
        <owl-carousel-o [options]="customOptions1">
          <ng-container *ngFor="let Chain of ChainCategory.Chains">
            <ng-template carouselSlide>
              <div class="two monthly-deals rounded-pill text-center" routerLink="/moredetails">
                <div class="d-flex flex-column justify-content-center align-items-center ">
                  <!--[routerLink]="['/brandDetails']"
  [queryParams]="{ ChainID:Chain?.ID }"
  queryParamsHandling="preserve"-->
                  <img [src]="Chain.URLLogImg" (click)="toBrandDetails(Chain?.ID)" class="rounded-circle pointer"
                    [alt]="Chain?.ChainNameEN">
                  <span class="pointer title">{{dir=='ltr'?Chain?.ChainNameEN:Chain?.ChainNameAR}}</span>
                  <span *ngIf="Chain.OfferValue>0" class="pointer price">{{Chain.OfferValue | arabicNumber:dir}}
                    {{'global.EGP' | translate}}</span>
                  <span *ngIf="Chain.DiscountValue>0" class="pointer price">{{Chain.DiscountValue | arabicNumber:dir}}%
                    | {{'global.Discount' | translate}}</span>
                  <span *ngIf="Chain.RefundValue>0 && !(Chain.DiscountValue>0)"
                    class="pointer price">{{Chain.RefundValue | arabicNumber:dir}}% | {{'global.Refund' |
                    translate}}</span>
                  <!---->
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<section class="download d-flex flex-column justify-content-center align-items-center">
  <i class="fas fa-mobile-alt"></i>
  <p class="first text-uppercase pt-1">{{'download.firstp'|translate}}</p>
  <div class="diver"></div>
  <p class="second pt-1">{{'download.secondp'|translate}}</p>
  <div class="d-flex justify-content-center align-items-stretch pt-1 ">
    <button class="btn btn-outline-dark btn-icon-text m-1 android-btn">
      <i class="fab fa-apple btn-icon-prepend mdi-36px"></i>
      <span class="d-inline-block text-left">
        <small class="font-weight-light d-block">Available on the</small>
        App Store
      </span>

    </button>
    <button class="btn btn-outline-dark btn-icon-text m-1 android-btn">
      <i class="fab fa-google-play btn-icon-prepend mdi-36px"></i>
      <span class="d-inline-block text-left">
        <small class="font-weight-light d-block">Get it on the</small>
        Google Play
      </span>
    </button>

  </div>
</section>
<section class="pt-5 home-exclusive-card">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <i class="fas fa-percentage home-icon"></i>
    <p class="card-title font-weight-bold mt-3 home-text m-3">{{"home.THE XCLUSIVES CARD" | translate}}</p>
    <p class="mt-2">
      {{'home.Your' | translate}}<strong> {{'home.Xclusives Card®' | translate}}</strong>
      {{'home.entitles you to up to' | translate}}<strong>
        {{
        'home.35% discounts and refunds' |
        translate
        }}
      </strong>{{'home.at any of our merchants from our network' | translate}}.
    </p>
    <P>
      {{'home.You also get a complementary' | translate}}<strong> {{'home.Super Value Voucher' | translate}}</strong>
      {{'home.Booklet with your card along with access to the' | translate}}
      <strong>{{'home.Deals' | translate}}</strong>
      {{'home.section in the' | translate}}<strong>{{'home.Xclusives App' | translate}}</strong>!
    </P>
  </div>
  <div class="d-flex  justify-content-center">
    <img src="../../assets/img/Card-2.png" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50"
      data-aos-duration="1200" data-aos-easing="ease-in-out" class="card-img-home" alt="">
  </div>
</section>

<app-sectionthree></app-sectionthree>
<app-the-exclusive-app></app-the-exclusive-app>
<section class="download  d-flex flex-column justify-content-center align-items-center">
  <i class="far fa-thumbs-up"></i>
  <p class="first text-uppercase pt-1">{{'home.start' | translate}}</p>
  <div class="diver"></div>
  <p class="second pt-1">{{'home.start p' | translate}}</p>
  <div class="d-flex justify-content-center align-items-stretch pt-1 ">
    <button class="btn apple-btn text-uppercase m-1  rounded d-flex justify-content-center align-items-center">
      <span>{{'home.GET THE CARD' | translate}}</span>
    </button>
    <button class="btn android-btn text-uppercase m-1  rounded d-flex justify-content-center align-items-center">
      <span> {{'home.DOWNLOAD THE APP' | translate}}</span>
    </button>
  </div>
</section>
