<div class="header-pages d-flex justify-content-center align-items-center">
  <h1 class="title-h1">JOIN OUR MERCHANTS</h1>
</div>
<p class="text-center">Are you a business owner interested in joining the Xclusives Merchant Network?</p>
<p class="text-center">If you are, then great! You can fill in the application form below to get started!</p>

<div class="container">
  <mat-stepper #stepper class="py-5">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Personal Information</ng-template>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" required>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field appearance="fill">
              <mat-label>Email Address</mat-label>
              <input matInput formControlName="email" required>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field appearance="fill">
              <mat-label>Mobile Number</mat-label>
              <input matInput formControlName="phone" required>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex justify-content-end align-items-center">
          <!-- <p>Go to a different step to see the error state</p> -->
          <button mat-button matStepperNext [disabled]="firstFormGroup.status != 'VALID'"
            class="btn-xclusive-stepper rounded">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Business Information</ng-template>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field appearance="fill">
              <mat-label>Business Name</mat-label>
              <input matInput formControlName="Bname" required>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field appearance="fill">
              <mat-label>Business Commercial Name</mat-label>
              <input matInput formControlName="Cname" required>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field appearance="fill">
              <mat-label>Number of Branches</mat-label>
              <input matInput formControlName="Nbranches" required>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field appearance="fill">
              <mat-label>Website/Social Media Page Link</mat-label>
              <input matInput formControlName="website" required>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-centter">
          <!-- <p>Go to a different step to see the error state</p> -->
          <button mat-button matStepperPrevious class="btn-xclusive-stepper">Back</button>
          <button mat-button matStepperNext class="btn-xclusive-stepper"
            [disabled]="secondFormGroup.status != 'VALID'">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p class="text-center">You are now done.</p>
      <div class="d-flex justify-content-between align-items-centter">
        <button mat-button matStepperPrevious class="btn-xclusive-stepper">Back</button>
        <!-- <button mat-button (click)="stepper.reset()" class="btn btn-xclusive-main">Reset</button> -->
        <button mat-button class=" btn-xclusive-stepper">Send</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
